version: "3.9"

services:
  app:
    build: .
    command: npm run dev
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
      - mailhog

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: nextise
      POSTGRES_PASSWORD: nextise
      POSTGRES_DB: next_seminar
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog:latest
    restart: unless-stopped
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:

